ems.url=http://localhost:3000/ems
incogito.home=/opt/jb/incogito10
voldemort.home=/opt/jb/incogito10/voldemort

baseurl=http://localhost:8096/incogito10

sessionEmStart=2.5
emPerMinute=0.25
emPerRoom=11
