<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:jee="http://www.springframework.org/schema/jee"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
      http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-2.5.xsd http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-2.0.xsd">

  <import resource="classpath*:applicationContext.xml"/>
  <import resource="classpath*:incogito-web-applicationContext-test.xml"/> <!-- A hack for now - trygve -->
  <import resource="applicationContext-security.xml"/>

  <bean id="timerFactory" class="org.springframework.scheduling.timer.TimerFactoryBean">
    <property name="scheduledTimerTasks">
      <list>
        <ref bean="reloadConfigurationTask"/>
      </list>
    </property>
  </bean>

  <bean id="reloadConfigurationTask" class="org.springframework.scheduling.timer.ScheduledTimerTask">
    <property name="delay" value="10000"/>
    <property name="period" value="10000"/>
    <property name="timerTask" ref="reloadConfiguration"/>
  </bean>

  <bean id="reloadConfiguration" class="org.springframework.scheduling.timer.MethodInvokingTimerTaskFactoryBean">
    <property name="targetObject" ref="incogitoApplication"/>
    <property name="targetMethod" value="reloadConfiguration"/>
  </bean>

</beans>
