<beans:beans xmlns="http://www.springframework.org/schema/security"
       xmlns:beans="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
       http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-3.0.4.xsd">

  <http auto-config="true">
    <openid-login login-page="/login" always-use-default-target="false" authentication-failure-url="/login?failure=true"/>
    <anonymous/>

    <!--
    <intercept-url pattern="/secure/extreme/**" access="ROLE_SUPERVISOR"/>
    <intercept-url pattern="/secure/**" access="IS_AUTHENTICATED_REMEMBERED"/>
    <intercept-url pattern="/login.jsp*" filters="none"/>
    <intercept-url pattern="/secure/**" access="ROLE_AUTHENTICATED"/>
    <intercept-url pattern="/**" filters="none"/>
    -->
    <intercept-url pattern="/js/**" filters="none"/>
    <intercept-url pattern="/**/my-*" access="ROLE_USER"/>
    <intercept-url pattern="/**"/>
  </http>

  <authentication-manager alias="authenticationManager">
    <authentication-provider user-service-ref="incogito-user-details-service"/>
  </authentication-manager>

</beans:beans>
