*~
*.iml
*.ipr
*.iws
*.log
.classpath
.project
.settings
.svn
catalog.xml
data
nbactions.xml
nbproject
private
target
*.tar.gz
*/pom.xml.releaseBackup
pom.xml.releaseBackup
release.properties
incogito-application/src/test/resources/cluster-it/node-it/etc/
jmeter/*.*
