<configuration scan="true" scanPeriod="1000">
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <layout class="ch.qos.logback.classic.PatternLayout">
      <Pattern>%d{dd-MM-yyyy HH:mm:ss} [%25t] %-5p %-40.40c{1} - %m%n</Pattern>
    </layout>
  </appender>

  <logger name="org.springframework" level="WARN"/>
  <logger name="voldemort" level="INFO"/>
  <logger name="no.java.incogito" level="DEBUG"/>

  <root level="INFO">
    <appender-ref ref="STDOUT"/>
  </root>

</configuration>
