div#calendar {
  width: 78em;
}

.times {
    margin-top: 2.5em;
    width: 3em;
    float: left;
}

.cb {
    clear:both;
}

.times div {
    height: 2.5em;
    overflow: hidden;
}

.rooms {
    width:73em;
    position:absolute;
    margin-left:3em;
}

.day {
    width:76em;
}

.day .room {
    width: 9.5em;
    border-left: 0.1em solid #787878;
    padding: 0 0.25em 0 0.25em;
    float: left;
}

.room h2 {
    padding:0;
    margin:0;
}

/*
 * Session Cell
*/
div.session-header div {
    display: inline;
    font-size: 1.1em;
}

.room .session {
    width: 9.25em;
    position: absolute;
}

.level img, .labels img {
    border:0;
    margin:0;
    padding:0;
}

.session-body .title,.session-body .speakers {
    font-size: 0.75em;
}

.session-body .title {
    font-weight: bolder;
    padding-top: 0.75em;
}

.session-header, session-header div {
    overflow:hidden;
    height: 1em;
    font-size: 1em;
    line-height:1em;
}

div.session-header {
    width: 100%;
    text-align: right;
    vertical-align: middle;
    border: thin solid silver;
}

div.session-header div.level {
    border-left: thin #787878 solid;
}

div.session-header div.labels img {
    padding-right: 0.2em;
}

div.session-header div.level img {
    padding-left: 0.2em;
    padding-right: 0.2em;
}

div.session-body {
    margin-left: 0.5em;
    margin-right: 0.5em;
}

div.session-body div.add-remove-button {
    position: absolute;
    bottom: 1.5em;
    left: 0;
}

div.session-footer {
    background-color: #d4d4d4;
    position: absolute;
    bottom: 0;
    width: 100%;
}

/*
 * Overlays
*/


/*
 * Overlays
*/

div.overlay-bg {
    background: black none repeat scroll 0 0;
    top: 0;
    left: 0;
    height: 100%;
    opacity: 0.8;
    position: fixed;
    width: 100%;
    z-index: 4999;
}

div.overlay {
    background: white none repeat scroll 0 0;
    border: 0 none;

    top: 50%;
    left: 50%;

  /* Each 'implementation' has to set width, height and margin-{left,top} */
  width: 0;
  height: 0;
  margin: 0;
    position: fixed;
    z-index: 9999;
}

div.overlay-close {
    position: absolute;
    top: 0.5em;
    left: 0.5em;
}

div.overlay-content {
    margin: 2em;
}

div.overlay-content h2 {
    margin: 0;
}

/* Session */
div#session-overlay {
  width: 50em;
  height: 30em;
  margin-top: -15em;
  margin-left: -25em;  /* width/2 */
}

div#session-overlay .overlay-content {
  height: 28em;        /* div#session-overlay { height } - 32 * 2 */
  overflow: auto;
}

/* Login */
div#login-overlay {
  width: 350px;
  height: 250px;
  margin-top: -290px;
  margin-left: -175px;  /* width/2 */
}

td#login-username input, td#login-password input {
    width: 100%;
}

/*
td#login-submit * {
  display: inline;
}
*/

#login-message {
    margin-left: 1em;
    color: red;
}

#results-below-tab {
    color: white;
    text-align: center;
    background-color: #5f5f5f;
    width: 300px;
    margin-left: -150px;
    z-index: 10000;
    bottom: 0;
    left: 50%;
    position: fixed;
}

/* hd */
#hd {
	border-top: 0.3em solid #333333;
}

/* legend */
#legends {
	width: 100%;
	height: 4em;
}

#legends #title {
	width: 6em;
	float: left;
	height: 4em;
	background: #EAEAEA;
}

#legends #filters {
	float: left;
	height: 4em;	
	width: 63.9em;
	color: #787878;
}

#filters .labels {
	font-size: 0.8em;
	list-style-image: none;
	list-style-position: outside;
	list-style-type: none;
	margin:0;
	padding:1em 0.8em 1em 0.8em;
}

/* Complexity */
#legends #complexity {
	width: 10em;
	height: 4em;
	float: left;
	border-left: 0.1em solid #EAEAEA;
}

#complexity div {
	padding-top: 0.5em;
	height: 1em;
	font-size: 0.75em;
	text-align: center;
	line-height: 1em;
}

#complexity .levels {
	height: 1.5em;
	width: 100%;
}

#complexity .levels img {
	margin-right: 5%;
}

#complexity .levels img:last-child {
	margin-right: 0;
}

#complexity .explanation {
	height: 1em;
  text-align: center;
}

#complexity .explanation span {
	font-size: 0.75em;
  width: 50%;
  float: left;
}

/* navigation */
ul.nav {
	margin: 0;
	padding: 0;
	list-style-image: none;
	list-style-position: outside;
	list-style-type: none;
}

ul.nav li {
	float:left;
}

#filters .labels {
	float: left;
}

#menu {
	color: #EAEAEA;
	height: 2.2em;
	background: #333333;
}


#menu ul.nav {
	padding: 0 3em 0 3em;
	margin: 0;
}

#menu ul.nav li {
	padding: 0.6em 0.8em 0.4em 0.8em
}

.hidden {
	visibility: hidden;
	display: none;
}
