body {
    padding:0;
    margin:0;
    overflow: auto;
}

div#calendar {
  width: 100%;
  position:absolute;
  top: 10em;
  margin: 2em auto;
}

/*
.timeslot {
  position: absolute;
}

.times .timeslot-start {
  position: absolute;
  top: 1.5em;
}

.times .timeslot-separator {
  position: absolute;
  top: 1.5em;
}

.times .timeslot-end {
  position: absolute;
  bottom: 1.5em;
}
*/
.timeslot {
    height: 10em;
}

.ts0900 {
    margin-top: 0;
}

.ts1015 {
    margin-top: 2.5em;
}

.ts1145 {
    margin-top: 5em;
}

.ts1300 {
    margin-top: 2.5em;
}

.ts1415 {
    margin-top: 2.5em;
}

.ts1530 {
    margin-top: 2.5em;
}

.ts1645 {
    margin-top: 2.5em;
}

.ts1800 {
    margin-top: 2.5em;
}

.ts1915 {
    margin-top: 2.5em;
}

.times {
  padding-top: 2.5em;
  float: left;
  width: 6.3%;
}

.times div {
  background-color: #eaeaea;
  text-align: center;
  vertical-align: middle;
}


.cb {
    clear:both;
}

.rooms {
    width:93.7%;
    position:absolute;
    margin-left:6.3%;
}

.day {
    width:100%;
}

.day .room {
    width: 12.8%;
    border-left: 0.1em solid #787878;
    padding: 0 0.25em 0 0.25em;
    float: left;
}

.room h2 {
    padding:0;
    margin:0;
}

/*
 * Presentation Cell
*/
div.presentation-header div {
    /*display: inline;*/
    font-size: 1.1em;
}

.room .presentation {
    width: 8.5em;
    min-width: 12.5%;
    position: absolute;
}

.presentation-header .labels {
    float: right;
    width: 6em;
}

.level img, .labels img {
    border:0;
    margin:0;
    padding:0.15em 0 0 0;
}

.presentation-body .title,.presentation-body .speakers {
    font-size: 0.75em;
}

.presentation-body .title {
    font-weight: bolder;
    padding-top: 0.75em;
}

.presentation-header, .presentation-header div {
    overflow:hidden;
    height: 1em;
    font-size: 1em;
    line-height:1em;
}

div.presentation-header {
    width: 100%;
    text-align: right;
    vertical-align: middle;
    border: thin solid silver;
}

div.presentation-header div.level {
    border-left: thin #787878 solid;
    float: right;
}

div.presentation-header div.labels img {
    padding-right: 0.2em;
}

div.presentation-header div.level img {
    padding-left: 0.2em;
    padding-right: 0.2em;
}

div.presentation-body {
    margin-left: 0.5em;
    margin-right: 0.5em;
}

div.presentation-body div.add-remove-button {
    position: absolute;
    bottom: 1.5em;
    left: 0;
}

div.presentation-footer {
    background-color: #d4d4d4;
    position: absolute;
    bottom: 0;
    width: 100%;
}

/*
 * Overlays
*/


/*
 * Overlays
*/

div.overlay-bg {
    background: black none repeat scroll 0 0;
    top: 0;
    left: 0;
    height: 100%;
    opacity: 0.8;
    position: fixed;
    width: 100%;
    z-index: 4999;
}

div.overlay {
    background: white none repeat scroll 0 0;
    border: 0 none;

    top: 50%;
    left: 50%;

  /* Each 'implementation' has to set width, height and margin-{left,top} */
  width: 0;
  height: 0;
  margin: 0;
    position: fixed;
    z-index: 9999;
}

div.overlay-close {
    position: absolute;
    top: 0.5em;
    left: 0.5em;
}

div.overlay-content {
    margin: 2em;
}

div.overlay-content h2 {
    margin: 0;
}

/* Session */
div#session-overlay {
  width: 50em;
  height: 30em;
  margin-top: -15em;
  margin-left: -25em;  /* width/2 */
}

div#session-overlay .overlay-content {
  height: 28em;        /* div#session-overlay { height } - 32 * 2 */
  overflow: auto;
}

/* Login */
div#login-overlay {
  width: 350px;
  height: 250px;
  margin-top: -290px;
  margin-left: -175px;  /* width/2 */
}

td#login-username input, td#login-password input {
    width: 100%;
}

/*
td#login-submit * {
  display: inline;
}
*/

#login-message {
    margin-left: 1em;
    color: red;
}

#results-below-tab {
    color: white;
    text-align: center;
    background-color: #5f5f5f;
    width: 300px;
    margin-left: -150px;
    z-index: 10000;
    bottom: 0;
    left: 50%;
    position: fixed;
}

/* hd */
#hd {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    background: #FFFFFF;
    border-top: 0.3em solid #333333;
    width: 100%;
    margin: 0 auto;
}

/* legend */
#legends {
	width: 100%;
	height: 6.5em;
}

#legends #title {
	width: 6%;
	float: left;
	height: 6.5em;
	background: #EAEAEA;
}

#legends #filters {
        overflow: auto;
        float: left;
	height: 6.5em;
	width: 80%;
	color: #787878;
}

#filters .labels {
	font-size: 0.8em;
	list-style-image: none;
	list-style-position: inside;
	list-style-type: none;
	margin:0;
	padding:1em 0 1em 0;
	float: left;
}

#filters ul li {
    margin: 0.2em;
    text-transform: uppercase;
}

#filters ul li.active a {
    color: #EAEAEA;
    text-decoration: none;
    background: #333333;
}

#filtersReset {
    width:7em;
    font-size: 0.75em;
    float:right;
    padding-top:6.7em;
    margin-right: 1em;
    text-align:center;
}

#filtersReset a {
    display: block;
    color: #EAEAEA;
    padding: 0.4em 0 0.4em 0;
    background: #333333;
}

#filtersReset a:hover {
    display: block;
    color: #333333;
    background: #EAEAEA;
}

#filters ul li a {
    display:block;
    margin-left: 1.3em;
    padding-left: 0.3em;
}

#filters ul li a:hover {
    background: #333333;
    color: #EAEAEA;
}

/* Complexity */
#legends #complexity {
	width: 13%;
        padding-top: 1em;
	height: 5.5em;
	float: left;
	border-left: 0.1em solid #EAEAEA;
}

#complexity div {
	padding-top: 0.5em;
	height: 1em;
	font-size: 0.75em;
	text-align: center;
	line-height: 1em;
}

#complexity .levels {
	height: 1.5em;
	width: 100%;
}

#complexity .levels img {
	margin-right: 5%;
}

#complexity .levels img:last-child {
	margin-right: 0;
}

#complexity .explanation {
    height: 1em;
    text-align: center;
}

#complexity .explanation span {
    font-size: 0.75em;
    width: 50%;
    float: left;
}

/* navigation */
ul.nav {
	margin: 0;
	padding: 0;
	list-style-image: none;
	list-style-position: outside;
	list-style-type: none;
}

ul.nav li {
	float:left;
}

#menu {
	color: #EAEAEA;
	height: 2.2em;
	background: #333333;
}

#menu ul.nav li {
    padding:0;
    margin:0;
}

#menu ul.nav li a {
    display: block;
    color: #EAEAEA;
    text-decoration: none;
    padding: 0.5em 1.8em 0.4em 1.8em
}

#menu ul.nav li a:hover {
    color: #333333;
    background: #EAEAEA;
}

div.presentation.duration60.hidden .presentation-body {
    display:block;
}


#menu ul.subnav {
	color: #333333;
	height: 2em;
        font-size: 0.75em;
	background: #FFFFFF;
        border-bottom: 0.068em solid #000000;
}

#menu ul.subnav li {
    padding:0 0 0 1em;
    margin:0.25em 0 0.75em 0;
}

#menu ul.subnav li.subday {
    padding:0 0 0 2.4em;
}


#menu ul.subnav li a {
    display: block;
    color: #333333;
    text-decoration: underline;
    padding: 0;
}

/*Quicktalks*/

ul.qts {
	width: 98%;
	list-style-type: none;
	padding: 0;
	margin:1em 0 1em 1%;
}

.qts li {
	height: 1em;
	margin: 0;
	padding: 0.25em 0 0.25em 0em;
}

.qts li>div {
	height: 1em;
	border: 0.065em solid #FFF;
	float: left;
	position: relative;
}

.qts li .qt-info {
	width: 17.5em;
        float: left;
        background: #FFF;
}

.qt-info div.qt-time {
	width: 5em;
	background: #EAEAEA;
	padding-left: 0.25em;
	padding-right: 0.25em;
  text-align: center;
}

.qt-info div.qt-legend {
	width: 13.5em;
	float: right;
	margin: 0 0.5em 0 0;
	border: 0.065em solid #EAEAEA;
}

.qt-legend .qt-level {
	border-left: 0.065em solid #CCC;
	width: 1em;
	float: right;
}

.qt-legend .qt-labels {
	text-align: right;
	width: 6em;
	float: right;
}

.qts li .qt-feedback {
	width: 11em;
	margin: -0.065em 0.5em 0  0;
	float: right;
	border: 0.065em solid #EAEAEA;
	background: #DDD;
}

div.qt-feedback .qt-rating {
	width: 3em;
	text-align: right;
	float: right;
}

.qts li .qt-presentation {
	border: 0;
	width: 100%;
}

.qt-presentation .qt-title {
	background: #DDD;
	border: 0.065em solid #DDD;
}