h1 { margin: 1em; }
h2 {
  margin: 0;
  padding: 0 0 0 0.25em;
  border-bottom: 1px solid #000000;
}
h2 img { padding: 0.25em 0 0 0; }
h2 img.minimize { display: none; }
h2.open {
  color: #ffffff;
  background-color: #303030;
}
h2.open img.expand { display: none; }
h2.open img.minimize { display: inline; }
h2:hover {
  color: #ffffff;
  background-color: #303030;
}
h3 {
  margin: 0.5em;
  padding: 0;
  font-weight: bold;
}
ul.sessions {
  list-style-type: none;
  margin: 0.5em;
  padding: 0;
  display: none;
}
ul.sessions .session {
  margin-left: 0;
  padding: 0.25em 0.5em 0.35em 0.5em;
  border-bottom: 1px solid #000000;
}
ul.sessions .session .info a { font-weight: bold; }
ul.sessions .session .speakers { font-style: italic; }
ul.sessions .session .legends { font-size: 0.8em; }
ul.sessions .session .legends span { font-weight: bold; }
ul.sessions .session.dark { background: #ebffff; }
ul.sessions .session.level-hide { opacity: 0.3; }
ul.sessions .session.label-hide { opacity: 0.3; }
ul.sessions.open { display: list-item; }
#filtersContainer {
  position: absolute;
  left: 0;
  width: 200px;
}
#filtersContainer ul {
  list-style-type: none;
  margin: 0 0 0 1em;
  padding: 0;
}
#filtersContainer ul li {
  margin: 0;
  padding: 0;
}
#filtersContainer ul li .levels li {
  list-style-type: circle;
  cursor: pointer;
  cursor: hand;
}
#filtersContainer ul li .levels li:hover { text-decoration: underline; }
#filtersContainer ul li .levels .on { list-style-type: disc; }
#filtersContainer ul li .levels .off { list-style-image: none; }
#filtersContainer ul li .labels li {
  list-style-type: circle;
  cursor: pointer;
  cursor: hand;
}
#filtersContainer ul li .labels li:hover { text-decoration: underline; }
#filtersContainer ul li .labels li a {
  display: block;
  outline: none;
}
#filtersContainer ul li .labels .on { list-style-type: disc; }
#filtersContainer ul li .labels .off { list-style-image: none; }
#filtersContainer.fixed {
  top: 0;
  position: fixed;
}
