div.speaker {
  clear: both;
}

.session-metadata {
  list-style: none;
  font-weight: bold;
}

.speaker-image {
  float: left;
}

.speaker-image img {
  width: 100px;
  margin-right: 20px;
  margin-bottom: 20px;
}
