<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-2.5.xsd">

  <context:component-scan base-package="no.java.incogito.web.resources"/>

  <bean id="userClient" class="no.java.incogito.application.UserClient">
    <constructor-arg ref="userStoreClient"/>
  </bean>

  <!-- Voldemort -->

  <bean id="voldemortServer" class="no.java.incogito.voldemort.VoldemortHomeServerFactoryBean">
    <description>Voldemort Server</description>
    <property name="voldemortHome" ref="voldemortHome"/>
  </bean>

  <bean id="storeClientFactory" class="no.java.incogito.application.SocketStoreClientFactoryFactoryBean" depends-on="voldemortServer">
    <property name="url" value="tcp://localhost:6660"/>
  </bean>

  <bean id="userStoreClient" class="no.java.incogito.application.SocketStoreClientFactoryBean">
    <property name="socketStoreClientFactory" ref="storeClientFactory"/>
    <property name="name" value="user"/>
  </bean>

</beans>
