<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-2.5.xsd
       http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd">

  <context:component-scan base-package="no.java.incogito.web.jmx"/>
  <context:component-scan base-package="no.java.incogito.web.resources"/>
  <context:component-scan base-package="no.java.incogito.web.servlet"/>
  <context:component-scan base-package="no.java.incogito.web.security"/>

  <context:property-placeholder location="classpath*:incogito.properties"/>

  <!-- Incogito -->

  <bean id="userClient" class="no.java.incogito.application.UserClient">
    <constructor-arg ref="userStoreClient"/>
  </bean>

  <bean id="incogitoHome" class="java.io.File">
    <constructor-arg value="${incogito.home}"/>
  </bean>

  <!-- Voldemort -->

  <bean id="voldemortServer" class="no.java.incogito.voldemort.VoldemortHomeServerFactoryBean">
    <description>Voldemort Server</description>
    <property name="voldemortHome" ref="voldemortHome"/>
  </bean>

  <bean id="voldemortHome" class="java.io.File">
    <constructor-arg value="${voldemort.home}"/>
  </bean>

  <bean id="storeClientFactory" class="no.java.incogito.application.SocketStoreClientFactoryFactoryBean"
        depends-on="voldemortServer">
    <property name="url" value="tcp://localhost:6660"/>
  </bean>

  <bean id="userStoreClient" class="no.java.incogito.application.SocketStoreClientFactoryBean">
    <property name="socketStoreClientFactory" ref="storeClientFactory"/>
    <property name="name" value="user"/>
  </bean>

  <!-- CMS Client -->

  <bean id="cmsClientFilter" class="no.javabin.atomclientservletfilter.AtomClientServletFilter">
    <property name="pagesUrl">
      <bean class="java.net.URL">
        <constructor-arg value="http://wiki.java.no/rest/atompub/latest/spaces/javazone2012/pages/12682119/children"/>
      </bean>
    </property>
    <property name="postsUrl">
      <bean class="java.net.URL">
        <constructor-arg value="http://wiki.java.no/rest/atompub/latest/spaces/javazone2012/news"/>
      </bean>
    </property>
  </bean>

  <!-- EMS -->

  <bean id="emsService" class="no.java.incogito.ems.client.RestEmsServiceFactoryBean">
    <property name="baseurl" value="${ems.url}"/>
    <property name="cache" value="true"/>
  </bean>

  <!-- Performance -->

  <bean id="incogitoApplicationPerformanceRecorder"
        class="no.java.incogito.web.jmx.ApplicationPerformanceRecorderFactoryBean">
    <constructor-arg value="no.java.incogito.application.IncogitoApplication"/>
  </bean>

  <!-- JMX -->

  <bean id="exporter" class="org.springframework.jmx.export.MBeanExporter">
    <property name="assembler" ref="assembler"/>
    <property name="namingStrategy" ref="namingStrategy"/>
    <property name="autodetect" value="true"/>
    <property name="beans">
      <map>
        <entry key="incogito.performance:name=Incogito">
          <bean class="no.java.incogito.web.jmx.mbean.ApplicationPerformanceMBean">
            <constructor-arg ref="incogitoApplicationPerformanceRecorder"/>
          </bean>
        </entry>
      </map>
    </property>
  </bean>

  <bean id="assembler" class="org.springframework.jmx.export.assembler.MetadataMBeanInfoAssembler">
    <property name="attributeSource" ref="jmxAttributeSource"/>
  </bean>

  <bean id="namingStrategy" class="org.springframework.jmx.export.naming.MetadataNamingStrategy">
    <property name="attributeSource" ref="jmxAttributeSource"/>
  </bean>

  <bean id="jmxAttributeSource" class="org.springframework.jmx.export.annotation.AnnotationJmxAttributeSource"/>

  <!-- AOP -->

  <bean id="timingAspect" class="no.java.incogito.web.jmx.TimingAspect">
    <constructor-arg ref="incogitoApplicationPerformanceRecorder"/>
  </bean>

  <aop:config>
    <aop:aspect id="timingAspectInstance" ref="timingAspect">
      <aop:pointcut id="incogitoApplicationPointcut"
                    expression="execution(* no.java.incogito.application.IncogitoApplication.*(..))"/>

      <aop:before pointcut-ref="incogitoApplicationPointcut" method="before"/>
      <aop:after-returning pointcut-ref="incogitoApplicationPointcut" method="afterReturning"/>
      <aop:after-throwing pointcut-ref="incogitoApplicationPointcut" method="afterThrowing"/>
    </aop:aspect>
  </aop:config>

</beans>
